#conteneurprincipal{
	-fx-min-height:650;
	-fx-min-width:1200;
}

#conteneurcentre{
	-fx-padding:15 10 5 20;
}

#fond_principal{
	-fx-background-color:rgb(0,128,128,0.7);
	-fx-pref-width:700;
	-fx-padding:8 12 8 8;	
}


.buttonbar .button{
	-fx-border-width:3 3 3 3;
	-fx-border-color:rgb(0,128,128);
	-fx-border-radius:2 2 2 2;
	-fx-padding:0.0;
}

.buttonbar .glyph-icon{
	-fx-fill:rgb(128,0,0);
	-glyph-size:55px;
}

#conteneur_contenu{
	-fx-border-width:3 3 3 3;
	-fx-border-color:rgb(0,128,128);
	-fx-background-color:rgb(243,243,243);
}

#bord1{
	-fx-border-width:1 1 1 1;
	-fx-border-color:rgb(0,128,128);
}